<h1>Create Movie</h1>


<form [formGroup]="movieForm" >

  <div class="mb-3">
    <label for="title" class="form-lbel">Title</label>
    <input minlength="5" type="text" name="title" class="form-control" formControlName="title" >
    <div class="alert alert-danger" *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched" >
      <p *ngIf=" movieForm.get('title')?.errors?.['required']">gerekli alan!!!</p>
      <p *ngIf=" movieForm.get('title')?.errors?.['minlength']">min 5 karakter olmalıdır!!</p>
    </div>
  </div>


  <div class="mb-3">
    <label for="description" class="form-lbel">Description</label>
    <textarea type="text" name="description" class="form-control" formControlName="description"></textarea>

  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-lbel">Image Url</label>
    <input type="text" name="imageUrl" class="form-control" formControlName="imageUrl">
  </div>

  <div class="mb-3">
    <label for="categoryId" class="form-lbel">Category</label>
    <select class="form-select" name="categoryId" formControlName="categoryId">
      <option value="">Seçiniz</option>
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" (click)="createMovie()">Create</button>
  <button class="btn btn-warning" (click)="clearForm()">Clear</button>

</form>

