<h1>Create Movie</h1>


<form action="">

  <div class="mb-3">
    <label for="title" class="form-lbel">Title</label>
    <input #title type="text" name="title" class="form-control">
  </div>


  <div class="mb-3">
    <label for="description" class="form-lbel">Description</label>
    <textarea #description type="text" name="description" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-lbel">Image Url</label>
    <input #imageUrl type="text" name="imageUrl" class="form-control">
  </div>

  <div class="mb-3">
    <label for="categoryId" class="form-lbel">Category</label>
    <select #categoryId class="form-select">
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
  </div>

  <button class="btn btn-primary" (click)="createMovie(title, description, imageUrl, categoryId)">Create</button>

</form>

