
<div class="list-group">
    <a 
        routerLink="movies"
        href="#" 
        class="list-group-item list-group-item-action" 
        [class.active]="displayAll"
        (click)="onSelectCategory($event)"
    >
        All Categories
    </a>
    <a 
        routerLink="movies/category/{{category.id}}"
        *ngFor="let category of categories;"
        class="list-group-item list-group-item-action" 
        [class.active]="selectedCategory == category"
        (click)="onSelectCategory($event, category)"
    >
        {{category.name | titlecase}}
    </a>
</div>

